
/********GLOBAL********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  font-size: 2em;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
  text-align: center;
}

input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem;
}

a {
  text-decoration: none;
  color: #FFF;
}

/********LOGIN********/
#login-link {
  color: black;
}

/********HEADER********/

.header {
  background-color: #4267B2;
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.nav__btn {
  color: #FFF;
  background-color: #4267B2;
  border: 0px;
  margin: 15px;
  margin-left: 0px;
  font-size: 24px;
}

.header__icon {
  display: flex;
  height: 50px;
  margin: 5px;
}

.header__logo {
  background: url('../img/tastebook_logo.png') center/100% no-repeat;
  border: 1px solid #FFF;
  height: 55px;
  margin-bottom: 5px;
  width: 55px;
}

.header__name {
  color: #FFF;
  font-family: "Roboto";
  font-size: 45px;
  margin-left: 8px;
}

/********BODY********/

html, body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient( rgba(200,200,200,.7), rgba(200,200,200,.7) ), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login * {
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.login__label {
  font-size: 3em;
  font-family: 'Lobster', cursive;
}

.login__input {
  height: 5%;
  width: 40%;
}

/* .login__input:focus {
} */

.login__button--submit {
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.login__button--submit:hover {
  border: 2px solid black;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/********MAIN********/

.main {
  display: inline;
  height: 87%;
}

/********DASHBOARD********/

.dashboard__section--inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.dashboard--greeting {
  color: #FFF;
  font-size: 36px;
  margin-top: 30px;
  padding-top: 90px;
  text-align: center;
}

.dashboard__section {
  background: linear-gradient( rgba(200,200,200,.7), rgba(66,103,178,.35) ), url('../img/kitchen-spices.jpeg') center/100% no-repeat;

  height: 85%;
  margin-bottom: 10px;
  width: 100%;
}

.dashboard__input {
  box-shadow: 5px 5px 5px gray;
  font-size: 24px;
  height: 50px;
  width: 420px;
}

.dashboard__section--search {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 120px;
}

.dashboard__label {
  color: #FFF;
  font-size: 24px;
}

/********RECIPES SECTION********/

.recipes__section {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 1fr);
  height: auto;
  justify-items: center;
  width: 100%;
}

.recipe__article {
  background-color: #FFF;
  border: 1px solid #4267B2;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  display: flex;
  flex-direction: column;
  height: 375px;
  justify-content: space-between;
  padding: 10px;
  width: 330px;
}

.article__img {
  border: 1px solid #4267B2;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.article__h1 {
  text-align: center;
}

.article__div {
  display: flex;
  height: 15%;
  justify-content: space-between;
  width: 100%;
}

.article__btn {
  background-color: #4267B2;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  width: 45%;
}

.article__btn--favorite, .article__btn--cook {
  background-color: #4267B2;
}

.article__btn--favorited, .article__btn--cooking {
  background-color: red;
}

/********RECIPE PAGE********/

.main__section {
  align-self: center;
  background-color: white;
  height: 80%;
  margin: 0 0 8% 8%;
  padding: 1%;
  width: 85%;
}

.section__div--img-name {
  display: flex;
  height: 50%;
  width: 100%;
}

.section__article--content {
  height: 70%;
  width: 100%;
}

.article__h1 {
  text-align: center;
}

.article__div {
  display: flex;
  height: 15%;
  justify-content: space-between;
  width: 100%;
}

.article__btn--recipe {
  border-radius: 3px;
  height: 100%;
  width: 45%;
}

/********RECIPE PAGE********/

.main {
  display: block;
}

.recipe {
  background-color: white;
  display: grid;
  margin: 3% 8% 3% 8%;
  grid-template-areas:
  'img name'
  'ins ins';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5fr 2.5fr;
  height: 100%;
}

.recipe__img {
  grid-area: img;
}

.recipe--name {
  height: 100%;
  width: 75%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.recipe--name * {
  overflow-wrap: break-word;
}

.recipe__article--full {
  grid-area: ins;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
}

.recipe--data {
  grid-area: name;
  display: flex;
  flex-flow: column wrap;
}

.recipe__button--favorite {
  height: 50%;
  width: 25%;
}

.recipe__button--cook {
  height: 50%;
  width: 25%;
}

#image {
  height: 50px;
  width: 50px;
}

/*
.section__div--img-name {
  display: flex;
  height: 50%;
  width: 100%;
}

.article__img {
  width: 50%;
}

.section__article--content {

} */
